.container {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    margin-top: 480px;
}

.text, 
.map_image, 
.blog_image, 
.constellation_image, 
.pathfinder_image {
    position: absolute;
    width: 1280px;
    height: 720px;
    cursor: pointer;
    will-change: transform, opacity;
    background-size: cover;
    color: rgb(97, 210, 255);
    border-radius: 5px;
}

.map_image {
  background-image: url('../../assets/map.png');
  box-shadow: 0 0 30px rgb(0, 28, 65);
}

.blog_image {
  background-image: url('../../assets/blog.png');
  box-shadow: 0 0 30px rgb(95, 0, 0);
}

.constellation_image {
  background-image: url('../../assets/constellation.png');
  box-shadow: 0 0 30px rgb(0, 0, 0);
}

.pathfinder_image {
  background-image: url('../../assets/pathfinder.png');
  box-shadow: 0 0 30px rgb(8, 65, 0);
}

.text {
  background-color: rgb(27, 27, 27);
  box-shadow: 0 0 30px rgb(0, 0, 0);
  color: #ffffff;
}

.text h1 {
  font-size: 2em;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 30px;
}

.text h2 {
  font-size: 1.8em;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 60px;
}

.text p {
  font-size: 1.2em;
  margin: 30px;
  padding: 0;
  text-align: left;
  margin-top: 40px;
}

.text ul {
  font-size: 1.2em;
  margin: 30px;
  padding: 0;
  text-align: center;
  margin-top: 40px;
  list-style: none;
}

.text li {
  text-align: center;
}
