.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text, 
.map_image, 
.blog_image, 
.constellation_image, 
.pathfinder_image {
    position: absolute;
    width: 1280px;
    height: 720px;
    cursor: pointer;
    will-change: transform, opacity;
    background-size: cover;
    border-radius: 5px;
}

.map_image {
  background-image: url('../../assets/graphics/map.png');
  box-shadow: 0 0 30px rgb(0, 32, 90);
}

.blog_image {
  background-image: url('../../assets/graphics/blog.png');
  box-shadow: 0 0 30px rgb(0, 0, 0);
}

.constellation_image {
  background-image: url('../../assets/graphics/constellation.png');
  box-shadow: 0 0 30px rgb(0, 0, 0);
}

.pathfinder_image {
  background-image: url('../../assets/graphics/pathfinder.png');
  box-shadow: 0 0 30px rgb(53, 53, 53);
}

.text {
  background-color: rgb(27, 27, 27);
  box-shadow: 0 0 30px rgb(0, 0, 0);
  color: #ffffff;
}

.text h1 {
  font-size: 2em;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.text h2 {
  font-size: 1.8em;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 80px;
}

.text h3 {
  font-size: 1.1em;
  margin: 0;
  padding: 0;
  text-align: center;
}

.text p {
  font-size: 1.2em;
  margin: 30px;
  padding: 0;
  text-align: left;
  margin-top: 40px;
}

.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.skills-container img {
  margin: 40px;
}

.visit-container {
  position: absolute;
  top: 870px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;  
}

.visit-container a {
  margin-inline: 20px;
}
