.deck {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-container {
    position: absolute;
}
  
.card {
    background-color: rgb(39, 39, 39);
    width: 800px;
    height: 600px;
    border-radius: 10px;
    box-shadow: 0 0 30px 0 rgb(14, 14, 14);
    cursor: pointer;
    padding: 30px;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.card h1 {
    font-size: 2.5em;
    text-align: center;
    margin: 0;
}

.card p {
    font-size: 1.3em;
}

.about, .skills {
    text-align: center;
}

.about img {
    margin: 0 auto;
    width: 200px;
    height: 220px;
}

.education {
    display: flex;
    margin: 0 auto;
    padding-top: 100px;
}

.education img {
    width: 100px;
    height: 110px;
    margin-right: 50px;
}

.education p, .education h2 {
    margin: 10px;
    text-align: left;
    margin-top: 0;
}

.work {
    display: flex;
    padding-top: 40px;
    margin-left: 50px;
}

.work img {
    width: 70px;
    height: 82px;
    border-radius: 5px;
    margin-right: 50px;
}

.work p, .work h2 {
    margin: 10px;
}

.work h2 {
    font-size: 1.3em;
}

.skills h2 {
    font-size: 1.8em;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 0;
}

.handles {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center; 
}

.handles a {
    margin-inline: 20px;
}

@media (max-width: 1000px) {
    .card {
        width: 600px;
        height: 500px;
    }
    .card h1 {
        font-size: 2em;
    }
    .card p {
        font-size: 1.2em;
    }
    .about img {
        width: 170px;
        height: 180px;
    }    
    .education {
        padding-top: 90px;
    }
    .education img {
        width: 80px;
        height: 90px;
    }
    .work {
        padding-top: 30px;
    }
    .work img {
        width: 50px;
        height: 62px;
        margin-right: 25px;
    }
    .work h2 {
        font-size: 1.1em;
    }
    .work p {
        font-size: 1.1em;
    }
    .skills h2 {
        margin-top: 50px;
    }
}

@media (max-width: 700px) {
    .card {
        width: 400px;
        height: 550px;
    }
    .card h1 {
        font-size: 1.9em;
    }
    .card p {
        font-size: 1.1em;
    }
    .about img {
        width: 150px;
        height: 160px;
    }
    .education {
        padding-top: 80px;
    }
    .education h2 {
        font-size: 1.3em;
    }
    .education img {
        width: 70px;
        height: 80px;
        margin-right: 20px;
    }
    .work {
        padding-top: 35px;
        margin-left: 10px;
    }
    .skills h2 {
        font-size: 1.5em;
    }
}

@media (max-width: 550px) {
    .card {
        width: 260px;
        height: 380px;
        padding: 20px;
    }
    .card h1 {
        font-size: 1.1em;
    }
    .card p {
        font-size: 0.8em;
    }
    .about img {
        width: 90px;
        height: 100px;
    }
    .education {
        padding-top: 50px;
    }
    .education h2 {
        font-size: 1em;
    }
    .education img {
        width: 50px;
        height: 55px;
        margin-right: 15px;
        margin-left: 15px
    }
    .work {
        padding-top: 10px;
    }
    .work img {
        width: 35px;
        height: 40px;
        margin-right: 10px;
    }
    .work h2 {
        font-size: 0.8em;
    }
    .work p {
        font-size: 0.7em;
    }
    .skills h2 {
        margin-top: 40px;
        font-size: 1em;
    }
}
