.deck {
    position: absolute;
    top: 450px;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-container {
    position: absolute;
}
  
.card {
    background-color: rgb(27, 27, 27);
    width: 800px;
    height: 600px;
    border-radius: 10px;
    box-shadow: 0 0 30px 0 rgb(0, 0, 0);
    cursor: pointer;
    padding: 30px;
    color: white;
    display: flex;
    flex-direction: column;
}

.card h1 {
    font-size: 2.5em;
    text-align: center;
    margin: 0;
}

.card h2 {
    font-size: 1.8em;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 0;
}

.card p {
    font-size: 1.3em;
}

.card img {
    display: block;
    margin: 0 auto;
}

.about, .skills {
    text-align: center;
}

.education {
    display: flex;
    margin: 0 auto;
    padding-top: 80px;
}

.education img {
    width: 100px;
    height: 110px;
    border-radius: 50%;
    margin-right: 50px;
}

.education p, .education h2 {
    margin: 10px;
}

.work {
    display: flex;
    padding-top: 40px;
    margin-right: auto;
    margin-left: 50px;
}

.work img {
    width: 80px;
    height: 95px;
    border-radius: 5px;
    margin-right: 50px;
}

.work p, .work h3 {
    margin: 10px;
}

.work h3 {
    font-size: 1.3em;
}

.handles {
    position: absolute;
    top: 870px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center; 
}

.handles a {
    margin: 0 20px;
}
