.logo-container {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.logo {
    width: 250px;
    cursor: pointer;
    animation: colorSwitch 5s ease infinite;
}

@keyframes colorSwitch {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

.logo-shadow {
    position: absolute;
    height: 300px;
    width: 300px;
    background-color: rgba(143, 143, 143, 0.301);
    left: 50%;
    top: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    filter: blur(30px);
}
