.map {
    position: absolute;
    width: 120px;
    height: 120px;
    background: rgb(0, 171, 184);
    border-radius: 5px;
    border: 5px solid rgb(255, 255, 255);
    cursor: grab;
    touch-action: none;
}

.blog {
    position: absolute;
    width: 120px;
    height: 120px;
    background: rgb(255, 74, 74);
    border-radius: 5px;
    border: 5px solid rgb(255, 255, 255);
    cursor: grab;
    touch-action: none;
}

.constellation {
    position: absolute;
    width: 120px;
    height: 120px;
    background: rgb(96, 255, 109);
    border-radius: 5px;
    border: 5px solid rgb(255, 255, 255);
    cursor: grab;
    touch-action: none;

}

.pathfinder {
    position: absolute;
    width: 120px;
    height: 120px;
    background: rgb(255, 255, 0);
    border-radius: 5px;
    border: 5px solid rgb(255, 255, 255);
    cursor: grab;
    touch-action: none;
}

.select-container {
    position: absolute;
    z-index: -1;
}

.select {
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 5px;
    border: 5px dashed rgb(48, 48, 48);
    box-shadow: 0px 0px 30px 0px rgb(0, 0, 0);
    z-index: -1;
}

.mapPage {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111111;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
