.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -99;
    overflow: hidden;
}

.logo-shadow {
    position: absolute;
    height: 300px;
    width: 300px;
    background-color: rgba(143, 143, 143, 0.301);
    left: 50%;
    top: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.background::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    backdrop-filter: blur(30px);
}