.links {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    left: 50%;
    top: 20px;
    transform: translate(-50%, 0);
}

.links div {
    position: relative;
}

.links a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 12px 20px;
    border-radius: 5px;
    width: 100px;
}