.count-container {
    position: absolute;
    top: 15px;
    padding: 10px 20px 10px 30px;
    background-color: rgb(27, 27, 27);
    border-radius: 5px;
    font-size: 30px;
    box-shadow: 0 0 20px 0 rgb(0, 0, 0);
}

.input-container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 20px 10px rgb(0, 0, 0);
}

.input-container input {
    box-sizing: border-box;
    width: calc(100% - 2.5px);
    padding: 5px;
    font-size: 1.2rem;
    text-align: center;
    background-color: rgb(34, 34, 34);
    border: none;
    border-radius: 5px;
    color: #ffffff;
    outline: none;
    font-family: 'Trebuchet MS', sans-serif;
}

.links {
    position: absolute;
    font-size: 20px;
    display: flex;
    justify-content: center;
    left: 50%;    
    top: 0px;
    transform: translate(-50%, 0);
    z-index: 9999;
}

.links div {
    position: relative;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    background-color: rgb(27, 27, 27);
    padding: 25px 20px 12px 20px;
    border-radius: 5px;
    width: 100px;
    cursor: pointer;
    font-family: 'Trebuchet MS', sans-serif;
    box-shadow: 0 0 20px 0 rgb(0, 0, 0);
}

.background {
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url('../assets/noise.png') repeat 0 0;  
    background-color: #111111;
    background-repeat: repeat;
    visibility: visible;
    z-index: -9999;
}

.tiles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -9999;
}

.tiles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 100px;
    height: 100px;
    bottom: -150px;
    filter: blur(5px);
    animation: animate-up 15s linear infinite;
    box-shadow: 0 0 20px 10px rgb(0, 0, 0);
}

.tiles li:nth-child(1){
    left: 16%;
    transform: translate(-50%, 0);
    animation-delay: 0s;
}


.tiles li:nth-child(2){
    left: 6%;
    animation-delay: 2s;
    animation-duration: 12s;
}

.tiles li:nth-child(3){
    left: 66%;
    animation-delay: 4s;
}

.tiles li:nth-child(4){
    left: 36%;
    animation-delay: 0s;
    animation-duration: 18s;
}

.tiles li:nth-child(5){
    left: 56%;
    animation-delay: 0s;
}

.tiles li:nth-child(6){
    left: 76%;
    animation-delay: 3s;
}

.tiles li:nth-child(7){
    left: 26%;
    animation-delay: 7s;
}

.tiles li:nth-child(8){
    left: 46%;
    animation-delay: 15s;
    animation-duration: 45s;
}

.tiles li:nth-child(9){
    left: 86%;
    animation-delay: 2s;
    animation-duration: 35s;
}

@keyframes animate-up {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }

    100%{
        transform: translateY(-120vh) rotate(720deg);
        opacity: 0;
    }
}

@media screen and (max-width: 900px) {
    .tiles li {
        width: 80px;
        height: 80px;
    }
}

@media screen and (max-width: 700px) {
    .tiles li {
        width: 60px;
        height: 60px;
    }

    .links div {
        padding: 20px 15px 10px 10px;
        width: 80px;
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 550px) {
    .count-container {
        top: 70px;
    }
}

@media screen and (max-width: 500px) {
    .tiles li {
        width: 40px;
        height: 40px;
    }
}

@media screen and (max-width: 400px) {
    .links div {
        padding: 20px 5px 10px 5px;
        font-size: 1rem;
        margin: 0 5px;
    }

    .count-container {
        top: 60px;
        padding: 10px 15px 10px 20px;
        font-size: 20px;
    }
}

@media screen and (max-width: 300px) {
    .tiles li {
        width: 30px;
        height: 30px;
    }    
}