.count-container {
    position: absolute;
    top: 15px;
    padding: 10px 20px 10px 30px;
    background-color: rgb(27, 27, 27);
    border-radius: 5px;
    font-size: 30px;
    box-shadow: 0 0 20px 0 rgb(0, 0, 0);
}

.input-container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 20px 0 rgb(0, 0, 0);
}

.input-container input {
    box-sizing: border-box;
    width: calc(100% - 2.5px);
    padding: 5px;
    font-size: 1.2rem;
    text-align: center;
    background-color: rgb(34, 34, 34);
    border: none;
    border-radius: 5px;
    color: #ffffff;
    outline: none;
    font-family: 'Trebuchet MS', sans-serif;
}

.links {
    position: absolute;
    font-size: 20px;
    display: flex;
    justify-content: center;
    left: 50%;    
    top: 0px;
    transform: translate(-50%, 0);
    z-index: 9999;
}

.links div {
    position: relative;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    background-color: rgb(27, 27, 27);
    padding: 25px 20px 12px 20px;
    border-radius: 5px;
    width: 100px;
    cursor: pointer;
    font-family: 'Trebuchet MS', sans-serif;
    box-shadow: 0 0 20px 0 rgb(0, 0, 0);
}

.background {
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;  
    background-color: #111111;  
    background-repeat: repeat;
    visibility: visible;
    z-index: -9999;
}

.tiles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -9999;
}

.tiles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    bottom: -150px;
    transition: all 0.7s;
}

.tiles li:nth-child(1){
    left: 20%;
    width: 80px;
    height: 80px;
    animation: animate-up 25s linear infinite;
    animation-delay: 0s;
}


.tiles li:nth-child(2){
    left: 10%;
    width: 110px;
    height: 110px;
    animation: animate-down 25s linear infinite;
    animation-delay: 2s;
    animation-duration: 12s;
}

.tiles li:nth-child(3){
    left: 70%;
    width: 90px;
    height: 90px;
    animation: animate-up 25s linear infinite;
    animation-delay: 4s;
}

.tiles li:nth-child(4){
    left: 40%;
    width: 80px;
    height: 80px;
    animation: animate-down 25s linear infinite;
    animation-delay: 0s;
    animation-duration: 18s;
}

.tiles li:nth-child(5){
    left: 60%;
    width: 120px;
    height: 120px;
    animation: animate-up 25s linear infinite;
    animation-delay: 0s;
}

.tiles li:nth-child(6){
    left: 80%;
    width: 110px;
    height: 110px;
    animation: animate-down 25s linear infinite;
    animation-delay: 3s;
}

.tiles li:nth-child(7){
    left: 30%;
    width: 150px;
    height: 150px;
    animation: animate-up 25s linear infinite;
    animation-delay: 7s;
}

.tiles li:nth-child(8){
    left: 50%;
    width: 75px;
    height: 75px;
    animation: animate-down 25s linear infinite;
    animation-delay: 15s;
    animation-duration: 45s;
}

.tiles li:nth-child(9){
    left: 90%;
    width: 95px;
    height: 95px;
    animation: animate-up 25s linear infinite;
    animation-delay: 2s;
    animation-duration: 35s;
}

@keyframes animate-up {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 0.5;
        border-radius: 0;
    }

    100%{
        transform: translateY(-120vh) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

@keyframes animate-down {
    0%{
        transform: translateY(-120vh) rotate(0deg);
        opacity: 0.5;
        border-radius: 50%;
    }

    100%{
        transform: translateY(0) rotate(720deg);
        opacity: 0;
        border-radius: 0;
    }
}